body{
	background: url("../images/bgg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	background-position: center center;
}

h1{
	font-family: Courier New;
	font-weight:bold;
	text-align:center;
}
		

.container-fluid{
padding:auto;
margin:auto;
text-align:centre;

}


.img-circle{
	width: 320px;
	height: 500px;

}
.panel-heading{
	background: linear-gradient(to right, #795EB4 0%, #ff99cc 100%);
	height:50px
	
}

.panel-default{
	background-color: #D9B9EE;
	border: 4px solid black;

}

h2{
	text-align:center;
	font-weight:bold;
}